body{
font-family:Arial,Helvetica,Sans-serif;
font-size:20px;
padding:0;
margin:0;
background-color:#f4f4f4;
}
/*GLOBAL*/
.container{
width:80%;
margin:auto;padding-top:-4px;
padding-bottom: 20px;
}
/*GLOBAL ENDS*/
header{
  background-color:rgb(200,200,204);
  color:#ffffff;
  padding-top:30px;
  min-height:100px;

}
header #myname{
  float:left;
}
header img{
  float:right;margin:0;height:90px;
}

/*showcase*/
#showcase{
  min-height:400px;
  text-align: center;
  color:blue;padding-bottom:10px;

}

#showcase h1{ text-align:left;
  margin-top: 100px;
  font-size: 30px;
  margin-bottom: 10px;
}
#showcase p {text-align:left;
  float:left;
  font-size:15px;
  line-height: 1.5;
}
footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color: #e8491d;
}
#showcase li {
  font-size:1.2em;
  text-align:left;
}
.container h3{
  text-align:left;
}
.container h1{
  text-decoration: underline;
}
#showcase img{
  float:right;
  margin:0;height:120px
}
.container h4{
  text-align:left;
}
